html,
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: #535353;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 15em;
}

.flex {
    display: flex;
    flex-direction: column;
}

header {
    margin: -15em;
    margin-bottom: 0px;
    position: static;
    background-color: #3d3d3d;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 8em;
    line-height: 15px;
}

h2 {
    margin: 0;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 3em;
    line-height: 15px;
}

h3 {
    margin: 0;
    font-size: 4em;
    color: white;
}

p {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 3em;
    color: white;
}

nav {
    margin-left: -15em;
    margin-right: -15em;
    /*Counters the margin set in body*/
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #3d3d3d;
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    top: 0px;
}

nav a,
nav a:visited,
nav a:active {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    line-height: 15px;
    flex-grow: 2;
    flex-basis: 0;
}

.navigation-button.socials {
    flex-grow: 2;
    flex-basis: 0;
    text-align: end;
}

.navigation-button.socials a {
    color: white;
    font-size: 4.5em;
    text-decoration: none;
    margin-left: 1rem;
    line-height: 15px;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.navigation-button.socials i {
    line-height: inherit;
}

.anchor {
    padding-top: 5rem;
    margin-top: -4rem;
}