html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: #535353;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 25em;
}

.flex {
    display: flex;
    flex-direction: column;
}

header {
    margin: -25em;
    margin-bottom: 0px;
    position: static;
    background-color: rgb(250, 250, 250);
    z-index: 1;
}

h1 {
    margin: 20px;
    margin-top: 40px;
    padding: 0px;
    text-align: center;
    color: #3d3d3d;
    font-size: 8em;
    line-height: 15px;
}

h2 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: #3d3d3d;
    font-size: 3em;
    line-height: 15px;
}

h3 {
    margin: 0;
    padding-top: 7rem;
    margin-top: -3rem;
    font-size: 4em;
    color: white;
    z-index: 1;
}

p {
    font-size: 3em;
    color: white;
}

nav {
    margin-left: -25em;
    margin-right: -25em;
    padding: 15px;
    padding-left: 20em;
    padding-right: 2em;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 250, 250);
    position: sticky;
    position: -webkit-sticky;
    border-bottom: 1px solid #3d3d3d;
    box-shadow: 0px 5px 5px rgba(244, 244, 244, 0);
    top: 0px;
}

competencies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12em;
    padding-bottom: 25px;
    padding-left: 25em;
    padding-right: 25em;
    margin-top: -10em;
    margin-left: -25em;
    margin-right: -25em;
    z-index: 0.25;
}

competencies-container img {
    display: inline-block;
    height: 100px;
    width: 100px;
    flex-basis: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav a, nav a:visited, nav a:active {
    display: inline-block;
    color: #3d3d3d;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    line-height: 15px;
    flex-grow: 2;
    flex-basis: 0;
    padding: 1rem;
}

.navigation-button.socials {
    flex-grow: 0;
    flex-basis: auto;
    text-align: end;
}

.navigation-button.socials a {
    color: #3d3d3d;
    font-size: 4.5em;
    text-decoration: none;
    margin-left: 1rem;
    line-height: 15px;
}

.navigation-button.socials i {
    line-height: inherit;
}

.anchor {
    padding-top: 7rem;
    margin-top: -3rem;
}

white-section {
    background-color: rgb(250, 250, 250);
    margin: 10em -25em -25em -25em;
    padding: 0em 25em 25em 25em;
    clip-path: polygon(100% 7%, 0% 0%, 0% 100%, 100% 100%)
}

