html,
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    background-color: #535353;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 50em;
}

.flex {
    display: flex;
    flex-direction: column;
}

header {
    margin: -50em;
    margin-bottom: 0px;
    position: static;
    background-color: #3d3d3d;
    z-index: 1;

}

h1 {
    margin: 20px;
    margin-top: 40px;
    padding: 0px;
    text-align: center;
    color: white;
    font-size: 8em;
    line-height: 15px;
}

h2 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 3em;
    line-height: 15px;
}

h3 {
    margin: 0;

    padding-top: 1000px;
    margin-top: 1000px;

    font-size: 4em;
    color: white;
    z-index: 1;
}

p {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 3em;
    color: white;
}

nav {
    margin-left: -50em;
    margin-right: -50em;
    padding: 15px;
    padding-left: 20em;
    padding-right: 2em;
    z-index: 1;

    display: flex;
    justify-content: space-evenly;
    background-color: #3d3d3d;
    position: sticky;
    position: -webkit-sticky;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    top: 0px;
}

competencies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding-top: 10em;
    padding-bottom: 25px;
    padding-left: 50em;
    padding-right: 50em;
    margin-top: -10em;
    margin-left: -50em;
    margin-right: -50em;
    margin-block: 10px;
    z-index: 0.25;
}

competencies-container img
{
    display: inline-block;
    height: 100px;
    width: 100px;
    flex-basis: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav a,
nav a:visited,
nav a:active {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    line-height: 15px;
    flex-grow: 2;
    flex-basis: 0;
}

.navigation-button.socials {
    flex-grow: 0;
    flex-basis: auto;
    text-align: end;
}

.navigation-button.socials a {
    color: white;
    font-size: 4.5em;
    text-decoration: none;
    margin-left: 1rem;
    line-height: 15px;
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.navigation-button.socials i {
    line-height: inherit;
}

.anchor {
    padding-top: 7rem;
    margin-top: -3rem;
}